body{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:#ddffbb8a;
}
header>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 8rem;
}
img:hover{
    transform: rotateY(360deg);
    transition: 2s;
}
nav{
    background-color: #789364;
    border-radius: 2rem;
}
nav ul{
    list-style-type: none;
    text-align: center;
}
nav li{
    display:inline-flex;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
li a {
    color: white;
    text-align: center;
    text-decoration: none;
}
li:hover {
    background-color: #9fb785;
  }
h1{
    font-size: 2rem;
}
section{
    display: flex;
}
#discount{
    background-image:url(discount2.jpg);
    background-position: center;
    background-size: 45rem 15rem;
    color: rgb(255, 255, 255);
}
article{
    background-color: #C7E9B0;
    flex: 1;
    border-radius: 5%;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;

}
article>img{
    height: 10rem;
    border-radius: 10%;
}
article>p{
    text-align: left;
}
article>a{
    text-decoration: none;
    color: #789364;
}
article:hover{
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.403); 
}
footer{
    margin-top: 3rem;
    display: flex;
}
footer div{
    flex: 1;
}
footer>div>img{
    border: 1px solid #555;
    border-radius: 50%;
    height: 3rem;
    width: auto;
}
footer>div>p{
    text-align: right;
}
